.about-company {
  padding-top: 31px;
  padding-bottom: 58px;
  padding-left: 30px;
  padding-right: 30px;
}

.about-company__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-company__item {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;

  &::before {
    content: "";
    display: block;
    background-repeat: no-repeat;
  }

  &--eco::before {
    width: 32px;
    min-height: 37px;
    background-image: url("../img/icon-feature-flower.svg");
  }

  &--price::before {
    width: 47px;
    min-height: 27px;
    background-image: url("../img/icon-feature-money.svg");
  }

  &--like::before {
    width: 34px;
    min-height: 27px;
    background-image: url("../img/icon-feature-heart.svg");
  }

  &--handmade::before {
    width: 35px;
    min-height: 34px;
    background-image: url("../img/icon-feature-ball.svg");
  }

  &--motherland::before {
    width: 55px;
    min-height: 23px;
    background-image: url("../img/icon-feature-rocket.svg");
  }

  &--box::before {
    width: 33px;
    min-height: 32px;
    background-image: url("../img/icon-feature-gift.svg");
  }
}
