.catalog {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.catalog__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  row-gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__text-wrapper {
  border: 1px solid $basic-border-color;
  padding-left: 27px;
  padding-right: 27px;
  padding-bottom: 26px;
}

.catalog__item:hover .catalog__text-wrapper {
  box-shadow: 0 6px 10px rgba($title-color, 0.1);
}

.catalog__item:active .catalog__text-wrapper {
  box-shadow: 0 3px 5px rgba($title-color, 0.1);
}

.catalog__title {
  width: 100%;
  margin: 0;
  margin-top: 26px;
}

.catalog__specifications {
  width: 100%;
  margin: 0;
  margin-top: 3.5%;
  font-size: 13px;
}

.catalog__price-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 17px;
  border-top: 1px solid $basic-border-color;
}

.catalog__image-link {
  display: block;
  width: 100%;
  background-color: $middle-color-catalog-item;
}

.catalog__image {
  display: block;
  width: 100%;
}

.catalog__link {
  display: block;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog__price {
  margin: 0;
  margin-top: 22px;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
}

.catalog__button {
  margin-top: 20px;
  margin-right: -6px;
  outline: none;
  border: none;
  background: none;
  font-size: 0;
  line-height: 0;
}

.catalog__icon {
  fill: $title-color;
  opacity: 0.2;

  .catalog__button:hover &,
  .catalog__button:focus & {
    fill: $basic-green;
    opacity: 1;
  }

  .catalog__button:active & {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .catalog {
    padding-top: 79px;
    padding-left: 51px;
    padding-right: 50px;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    row-gap: 54px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .catalog__item {
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 334px;
  }

  .catalog__title {
    width: 230px;
    margin: 0;
    margin-top: 10%;
    font-size: 20px;
    line-height: 24px;
  }

  .catalog__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: $mobile-padding;
    padding-right: $mobile-padding;
    padding-bottom: 22px;
  }

  .catalog__specifications {
    flex-grow: 1;
    margin-top: 3%;
    font-size: 15px;
  }

  .catalog__price-wrapper {
    display: flex;
    align-items: flex-end;
  }

  .catalog__price {
    margin-top: 20px;
    font-size: 17px;
  }

  .catalog__button {
    margin-bottom: 6px;
    margin-right: -4px;
  }

  @media (min-width: 1150px) {
    .catalog {
      max-width: 1150px;
      margin: 0 auto;
      padding-top: 128px;
      padding-left: $desktop-padding;
      padding-right: $desktop-padding;
    }

    .catalog__list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 52px;
    }

    .catalog__item {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: min-content 1fr;
    }

    .catalog__image {
      min-height: 462px;
    }

    .catalog__title {
      margin-top: 27px;
      margin-left: -4px;
    }

    .catalog__specifications {
      margin-top: 5px;
      margin-left: -3px;
    }

    .catalog__price-wrapper {
      margin-top: 12px;
    }

    .catalog__price {
      margin-top: 24px;
      margin-left: -4px;
    }

    .catalog__button {
      margin: 0;
      padding: 0;
      margin-bottom: 6px;
    }
  }
}
