.controls {
  display: block;
  border: none;
}

.controls__title {
  position: relative;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: $basic-green;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 198px;
    min-height: 1px;
    background-color: $special-border-color;
  }
}
