.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
}

.copyright__link {
  display: flex;

  align-items: center;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  color: $title-color;
  text-decoration: none;

  &:hover .copyright__logo,
  &:focus .copyright__logo {
    fill: $special-green;
  }

  &:active .copyright__logo {
    opacity: 0.3;
  }
}

.copyright__logo {
  margin-left: 27px;
  fill: $basic-green;
}
