.footer {
  width: 100%;
  background-color: $special-background;
}

.footer__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 160px;
  padding-left: 30px;
  padding-right: 30px;
}

.footer__logo {
  display: none;
}

.footer__copyright {
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .footer__container {
    flex-direction: row;
    justify-content: space-between;
    min-height: 143px;
    padding-left: $desktop-padding;
    padding-right: $desktop-padding;
  }

  .footer__logo {
    display: block;
    margin-top: -5px;
  }

  .footer__copyright {
    margin-top: 4px;
  }
}
