.form-control {
  display: block;
  position: relative;
}

.form-control__title {
  position: relative;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: $basic-green;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 198px;
    min-height: 1px;
    background-color: $special-border-color;
  }
}

.form-control__text {
  color: $title-color;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.form-control__input {
  display: block;
  min-height: 52px;
  border: none;
  border-bottom: 2px solid $title-color;
  font-size: 17px;
  line-height: 18px;

  &:hover,
  &:focus {
    outline: none;
    border-color: $special-border-color;
  }

  &--tel {
    font-size: 19px;
  }
}

.form-control__icon {
  fill: $title-color;
  opacity: 0.2;
}

.form-control__input:hover + .form-control__icon {
  fill: $special-border-color;
  opacity: 1;
}

.form-control__input:focus + .form-control__icon {
  opacity: 0;
}

.form-control__textarea {
  display: block;
  min-height: 142px;
  padding-top: 17px;
  padding-left: 18px;
  padding-right: 10px;
  font-size: 17px;
  line-height: 18px;
  border: 2px solid $basic-black;
  resize: none;

  &::placeholder {
    opacity: 0.3;
  }

  &:hover,
  &:focus {
    outline: none;
    border-color: $special-border-color;
  }
}
