.main-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation__item {

  &:hover .main-navigation__link,
  &:focus-within .main-navigation__link {
    opacity: 0.6;
  }

  &:active .main-navigation__link {
    opacity: 0.3;
  }

  &:hover .main-navigation__icon {
    fill: $basic-green;
    opacity: 1;
  }

  &:active .main-navigation__icon {
    fill: $basic-green;
    opacity: 0.3;
  }
}

.main-navigation__link {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $title-color;
  text-decoration: none;
}

.main-navigation__icon {
  fill: $title-color;
  opacity: 0.2;
}
