.page {
  min-height: 100%;
  font-family: $basic-font-family;
  font-size: 15px;
  line-height: 30px;
  color: $basic-black;
}

.page__body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

@media (min-width: $tablet-width) {
  .page {
    font-size: 17px;
    line-height: 30px;
  }
}
