.production-process {
  display: block;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 58px;
}

.production-process__container {
  border: 1px solid $basic-border-color;
  padding-bottom: 32px;

  &:hover,
  &:focus-within {
    box-shadow: 0 6px 10px rgba($title-color, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba($title-color, 0.1);
  }
}

.production-process__image-wrapper {
  position: relative;
  width: 100%;
  background-color: $middle-color-production-process;
}

.production-process__image {
  width: 100%;
  display: block;
}

.production-process__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 101px;
  min-height: 77px;
  background-color: transparent;
  background-image: url("../img/icon-play.svg");
  background-size: contain;
  background-repeat: no-repeat;
  border: none;

  &:hover,
  &:focus {
    outline: none;
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    opacity: 0.3;
    transform: translate(-50%, -50%) scale(0.8);
  }
}

.production-process__title {
  position: relative;
  display: block;
  max-width: 156px;
  margin-top: 20px;
  margin-left: 90px;
  margin-right: 13px;
  margin-bottom: 26px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 32px;
    min-height: 22px;
    left: -57px;
    top: 13px;
    background-image: url("../../img/icon-video.svg");
    background-repeat: no-repeat;
  }
}

.production-process__text {
  margin-top: 35px;
  margin-left: 33px;
  margin-right: 30px;
  font-size: 13px;
  line-height: 24px;
}

.production-process__order-link {
  display: block;
  margin-top: 42px;
  margin-left: 33px;
  margin-right: 33px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .production-process {
    padding-top: 53px;
    padding-left: $desktop-padding;
    padding-right: $desktop-padding;
    padding-bottom: 77px;
  }

  .production-process__container {
    display: flex;
    flex-wrap: wrap;
  }

  .production-process__title {
    max-width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 42px;
    padding-left: 106px;
    order: 0;

    &::before {
      top: -5px;
      left: 41px;
    }
  }

  .production-process__image-wrapper {
    order: -1;
  }

  .production-process__text {
    margin-top: 23px;
    margin-left: 38px;
    font-size: 15px;
    line-height: 30px;
  }

  .production-process__order-link {
    width: 100%;
    margin: 0;
    margin-top: 26px;
    margin-left: 41px;
    margin-right: 41px;
  }
}

@media (min-width: $desktop-width) {
  .production-process {
    padding-top: 60px;
    padding-bottom: 105px;
  }

  .production-process__container {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content 1fr min-content;
    column-gap: 43px;
    padding: 0;
  }

  .production-process__image-wrapper {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .production-process__title {
    max-width: 152px;
    margin: 0;
    padding: 0;
    margin-top: 95px;
    margin-left: 36px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    &::before {
      top: -50px;
      left: 0;
    }
  }

  .production-process__text {
    min-width: 252px;
    margin-top: 26px;
    margin-left: 36px;
    margin-right: 36px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .production-process__order-link {
    width: auto;
    margin: 0;
    margin-left: 38px;
    margin-right: 56px;
    margin-bottom: 61px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}
