.radio {
  position: relative;
  width: 38px;
  min-height: 38px;
  border: 2px solid $basic-black;
  border-radius: 50%;
}

.radio__mark {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 16px;
  min-height: 16px;
  background-color: $special-border-color;
  border-radius: 50%;
}

.radio__input:checked + .radio__mark {
  display: block;
}

.radio:hover,
.radio:focus-within {
  border-color: $special-border-color;
}

.radio:active {
  border-color: rgba($basic-black, 0.3);
}
