.reviews {
  padding-bottom: 45px;
  padding-left: 30px;
  padding-right: 30px;
}

.reviews__title {
  margin: 0;
  padding: 0;
}

.reviews__item-text {
  margin: 0;
  padding: 0;
}

.reviews__item-author {
  font-weight: bold;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
}

.reviews__item-source-link {
  display: flex;
  font-weight: normal;
  font-size: 17px;
  line-height: 30px;
  color: $basic-black;
  text-decoration: none;
}

.reviews__control-wrapper {
  display: flex;
}

.reviews__control-button {
  display: block;
  width: 130px;
  min-height: 52px;
  margin: 0;
  padding: 0;
  border: 1px solid $basic-border-color;
  background-color: $white;
  font-size: 0;
  line-height: 0;

  &:focus {
    outline: none;
  }

  &::before {
    content: "";
    display: block;
    width: 50px;
    min-height: 26px;
    background-repeat: no-repeat;
    background-image: url("../img/icon-left-arrow.svg");
  }

  &--next::before {
    background-image: url("../img/icon-right-arrow.svg");
  }

  &:hover::before,
  &:focus::before {
    opacity: 0.6;
  }

  &:active::before {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .reviews {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content min-content min-content;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 79px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 85px;
  }

  .reviews__item-text {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .reviews__control-wrapper {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .reviews__control-button {
    border: none;
  }

  .reviews__feedback-link {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .reviews__item-author {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding-left: 174px;
  }
}
