.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 27px;
  border-bottom: 1px solid $footer-border-color;
  list-style: none;
}

.socials__item {
  margin-left: 20px;
  margin-right: 20px;
}

.socials__link {
  position: relative;
  display: block;
}

.socials__icon {
  display: block;
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: $special-green;
}

.socials__link:active .socials__icon {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .socials {
    margin-right: -11%;
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .socials {
    padding-top: 28px;
    margin-right: -7%;
    border-bottom: none;
  }
}
