.specifications {
  width: 100%;
  font-size: 15px;
  line-height: 20px;
}

.specifications__row {
  display: grid;
  grid-template-columns: min-content 1fr;
  min-height: 39px;
  margin: 0;
  padding: 0;
  box-shadow: inset 0 -1px 0 $basic-border-color;
}

.specifications__cell {
  min-width: 101px;
  margin-left: -3px;
  text-align: left;
}
