.zig-zag {
  display: none;
}

@media (min-width: $tablet-width) {
  .zig-zag {
    position: relative;
    display: block;
    left: 0;
    bottom: 12px;
    width: 100%;
    min-height: 24px;
    margin-bottom: -24px;
    background-image: url("../img/zigzag-fill-desktop.svg");
    background-size: contain;
  }
}

@media (min-width: $desktop-width) {
  .zig-zag {
    display: block;
    width: calc(100% + 100px);
    bottom: 18px;
    left: -50px;
    min-height: 39px;
    margin-bottom: -39px;
    background-size: contain;
    background-position: 63px 0;
    overflow: hidden;

    &--title {
      width: 100%;
      left: 0;
    }
  }
}
