$basic-font-family: "Open Sans", "Arial", sans-serif;


$tablet-grid-line: 167px;
$desktop-grid-line: 175px;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;

$mobile-padding: 30px;
$desktop-padding: 50px;

$title-color: #000000;
$basic-black: #444444;
$white: #ffffff;
$special-background: #f1f1f1;
$categories-middle-background: #f9f9f9;

$basic-green: #63d1bb;
$basic-hover-green: #59d5bc;
$special-green: #46c1ae;
$alternative-green: #56c3b2;

$basic-border-color: #ececec;
$special-border-color: #62d1ba;
$footer-border-color: #e5e5e5;

$middle-color-week-offer: #cdd1d0;
$middle-color-map: #ebe3d1;
$middle-color-catalog-item: #e5dcd9;
$middle-color-production-process: #9ac8be;
