$basic-font-family: "Open Sans", "Arial", sans-serif;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;

$title-color: #000000;
$basic-black: #444444;
$white: #ffffff;
$special-background: #f1f1f1;
$categories-middle-background: #f9f9f9;

$basic-green: #63d1bb;
$basic-hover-green: #59d5bc;
$special-green: #46c1ae;
$alternative-green: #56c3b2;

$basic-border-color: #ececec;
$special-border-color: #62d1ba;
$footer-border-color: #e5e5e5;
