$basic-font-family: "Open Sans", "Arial", sans-serif;

$title-color: #000000;
$basic-black: #444444;
$white: #ffffff;
$special-background: #f1f1f1;

$basic-green: #63D1BB;
$basic-hover-green: #59D5BC;
$special-green: #46C1AE;
$alternative-green: #56C3B2;

$basic-border-color: #ECECEC;
$special-border-color: #62D1BA;
$footer-border-color: #E5E5E5;
